<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <link href="//www.google.com/images/branding/product/ico/googleg_lodp.ico" rel="shortcut icon">
    <link rel="apple-touch-icon-precomposed" href="//st.360buyimg.com/m/images/apple-touch-icon.png?v=jd201612271841">

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="m.www.com">

    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">

    <title>{{.Title}}</title>
    <meta name="keywords" content="{{.Keywords}}"/>
    <meta id="description" name="description" content="{{.Description}}"/>

    <!--
        <meta content="//www.google.com/images/branding/googleg/1x/googleg_standard_color_128dp.png" itemprop="image">
    -->

    <meta name="viewport" id="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
</head>
<body>
{{range .Items}}
<div>{{ . }}</div>
{{else}}
<div><strong>no rows</strong></div>
{{end}}
<form action="/search">
    <label for="q">search</label>
    <input type="text" id="q" name="q">
    <input type="hidden" name="charset" value="utf-8">
</form>
<ul id="demo">
    <item
            class="item"
            :model="treeData">
    </item>
</ul>
<script src="//unpkg.com/vue/dist/vue.js"></script>
<script type="text/x-template" id="item-template">
    <li>
        <div
                :class="{bold: isFolder}"
                @click="toggle"
                @dblclick="changeType"
                :name="model.name">
            <span v-if="isFolder" :if="open">[-]</span>
            <span v-if="isFolder" :if="close">[+]</span>
        </div>
        <ul v-show="open" v-if="isFolder">
            <item
                    class="item"
                    v-for="model in model.children"
                    :model="model">
            </item>
            <li class="add" @click="addChild">+</li>
        </ul>
    </li>
</script>


<script type="text/javascript">

    var data = {
        name: 'My Tree',
        children: [
            { name: 'hello' },
            { name: 'wat' },
            {
                name: 'child folder',
                children: [
                    {
                        name: 'child folder',
                        children: [
                            { name: 'hello' },
                            { name: 'wat' }
                        ]
                    },
                    { name: 'hello' },
                    { name: 'wat' },
                    {
                        name: 'child folder',
                        children: [
                            { name: 'hello' },
                            { name: 'wat' }
                        ]
                    }
                ]
            }
        ]
    }

    // define the item component
    Vue.component('item', {
        template: '#item-template',
        props: {
            model: Object
        },
        data: function () {
            return {
                open: false,
                close: true
            }
        },
        computed: {
            isFolder: function () {
                return this.model.children &&
                    this.model.children.length
            }
        },
        methods: {
            toggle: function () {
                if (this.isFolder) {
                    this.open = !this.open;
                    this.close = !this.close;
                }
            },
            changeType: function () {
                if (!this.isFolder) {
                    Vue.set(this.model, 'children', [])
                    this.addChild()
                    this.close = false;
                    this.open = true
                }
            },
            addChild: function () {
                this.model.children.push({
                    name: 'new stuff'
                })
            }
        }
    })

    // boot up the demo
    var demo = new Vue({
        el: '#demo',
        data: {
            treeData: data
        }
    });

    document.getElementById("q").onchange = function () {
        var self = this,
            v = self.value,
            xhr = new XMLHttpRequest();

        xhr.timeout = 300000;

        xhr.open("POST", "/search", true);

        xhr.responseType = "text";

        xhr.setRequestHeader("Content-Type", "application/json");


        xhr.onload = function () {
            if (this.status == 200 || this.status == 304) {
                // console.log(this.responseText);
            }
        };

        xhr.ontimeout = function () {
            console.log("Time Out");
        };
        xhr.onerror = function () {
        };
        xhr.upload.onprogress = function () {
        };

        xhr.send(JSON.stringify({value: v}));
    }
</script>
</body>
</html>